footer {
  background-color: #343a40;
  color: #fff;
  padding: 1rem 0;
  text-align: center;
}

.container-f {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.footer-content p {
  margin: 0;
  font-size: 1rem;
}

.footer-links {
  list-style: none;
  display: flex;
  margin: 0;
}

.footer-links li {
  margin-left: 1rem;
}

.footer-links a {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
  transition: color 0.3s;
}

.footer-links a:hover {
  color: #ffc107;
}

@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    text-align: center;
  }

  .footer-links {
    flex-direction: column;
    margin-top: 1rem;
  }

  .footer-links li {
    margin: 0.5rem 0;
  }
}
