<header>
  <div class="container-h">
    <nav class="navbar-h">
      <!-- Логотип с названием слева -->
      <a class="navbar-brand-h" href="/pages/index.html">
        <img src="/assets/heart.png" alt="" /><span></span>
          Super Mega JavaScript</span
        >
      </a>

      <!-- Кнопка для мобильной версии -->
      <button class="navbar-toggler-h" type="button" onclick="toggleNavbar()">
        <span class="navbar-toggler-icon-h"></span>
        <span class="navbar-toggler-icon-h"></span>
        <span class="navbar-toggler-icon-h"></span>
      </button>

      <!-- Навигация с правой стороны -->
      <div class="navbar-collapse-h" id="navbarNav-h">
        <ul class="navbar-nav-h">
          <li class="nav-item-h">
            <a
              class="nav-link-h"
              aria-current="page"
              href="/pages/index.html"
              ><i class="fa-solid fa-house"></i> Main</a
            >
          </li>
          <li class="nav-item-h">
            <a class="nav-link-h" href="/pages/courses.html"
              ><i class="fa-solid fa-list"></i> Courses</a
            >
          </li>
          <li class="nav-item-h">
            <a class="nav-link-h" href="/pages/sandbox.html"
              ><i class="fa-solid fa-code"></i> Sandbox</a
            >
          </li>
          <li class="nav-item-h">
            <a class="nav-link-h" href="/pages/quiz.html"
              ><i class="fa-solid fa-check"></i></i> Quiz</a
            >
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>
