<header>
  <div class="container-h">
    <nav class="navbar-h">
      <!-- Логотип с названием слева -->
      <a class="navbar-brand-h" href="#">
        <span>Super Mega JavaScript</span>
      </a>

      <!-- Кнопка для мобильной версии -->
      <button class="navbar-toggler-h" type="button" onclick="toggleNavbar()">
        <span class="navbar-toggler-icon-h"></span>
        <span class="navbar-toggler-icon-h"></span>
        <span class="navbar-toggler-icon-h"></span>
      </button>

      <!-- Навигация с правой стороны -->
      <div class="navbar-collapse-h" id="navbarNav-h">
        <ul class="navbar-nav-h">
          <li class="nav-item-h">
            <a
              class="nav-link-h active"
              aria-current="page"
              href="../pages/index.html"
              >Main</a
            >
          </li>
          <li class="nav-item-h">
            <a class="nav-link-h" href="../pages/courses.html">Courses</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>
